
body {
    margin: 0;
    padding: 0;
    font-family: "メイリオ", Meiryo;
    background-color: whitesmoke;
    user-select: none;
}

#container {
    position: relative;
}

#question-hiragana {
    width: fit-content;
    height: 140px;
    margin: 12px auto 0;
    text-align: center;
    line-height: 140px;
    font-size: 120px;
}

#canvas {
    display: block;
    border: solid 1px black;
    margin: 12px auto 0;
}

#button-container {
    width: fit-content;
    margin: 12px auto 0;
}

#clear-button {
    width: 80px;
    height: 30px;
}

#next-button {
    width: 80px;
    height: 30px;
    margin-left: 30px;
}

#settings-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 48px;
    height: 48px;
    background: url("../assets/settings.svg") no-repeat;
}

#settings-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#gojuon {
    width: fit-content;
    margin: 75px auto 150px;
    padding: 75px 0 0;
}

#gojuon table, #gojuon tr, #gojuon td {
    border-collapse: collapse;
    border: 1px solid black;
}

#gojuon td {
    width: 80px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    cursor: pointer;
}

#gojuon td.unselected {
    background-color: gray;
}

#gojuon td.unselectable {
    background-color: gray;
    cursor: auto;
}

#gojuon td.clear {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: auto;
}

#gojuon td.border-bottom {
    border-bottom: 1px solid black;
}

#gojuon td.border-right {
    border-right: 1px solid black;
}

#gojuon td.right-arrow-width {
    width: 48px;
}

.right-arrow-button {
    width: 48px;
    height: 48px;
    margin: 1px 0;
    background: url("../assets/right-arrow.svg") no-repeat;
    cursor: pointer;
}

.down-arrow-button {
    width: 48px;
    height: 48px;
    margin: 2px auto 0;
    background: url("../assets/down-arrow.svg") no-repeat;
    cursor: pointer;
}


